@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #131518;
}
.container {
  height: 416px;
  width: 412px;
  border-radius: 10px;
  background-color: #262E38;
  background: radial-gradient(at top,232A34,181E27);
}

.card__contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.card__star {
  border-radius: 50%;
  background-color: #969FAD;
  padding: 0.5rem;
  width: 16px;
  height: 16px;
  z-index: 3;
}

.card__title {
  font-size: 28px;
  color: white;
  font-family: Overpass;
  font-weight: bold;
}

.card__para {
  color: #969FAD;
  font-size: 15px;
  max-width: 340px;
  font-family: Overpass;
}
.card__ratingWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex;
  margin-top: 0.2rem;
}
.card__ratingItem {
  color: #7C8798;
  border-radius: 50%;
  background-color: #969FAD;
  padding: 1rem;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #7C8798;
}

.card__btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.2rem auto;
}
.card__btn {
  background-color: hsl(25, 97%, 53%);
  color: white;
  text-transform: uppercase;
  height: 45px;
  width: 341px;
  border-radius: 23px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Overpass;
}
